* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:  #FFE2BA;
    color: rgb(0, 0, 0);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
   
    background-image: linear-gradient(rgba(255,208,143,.5), rgba(255,180, 76,.5)),url(../Images/vecteezy_cute-teddy-bear-isolated-on-white-background_1430190.jpeg);
    background-size: cover;
    background-position: center;
    height: 90vh;
  
}

h1 {
    color: #E95F25;
    float: right;
    margin-right: 100px;
}

.row {
    max-width: 1140px;
}

.nav {
    height: 20px;
}

.main-nav {
    float: right;
}

.main-nav li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    color: #E95F25;

}

.logo {
    border-radius: 50px;
    margin: 10px 0 0 20px;
}

/*******featured section ********/

.featuredStuff {
    background-color: #FFCEBA;
}

.featuredStuff .row {
    height: 900px;
    max-width: 1140px
}

.featured {
    background-color: blanchedalmond;
    display: inline-block;
    height: 400px;
    width: 18%;
   
}